.latest{
    &--update{
        &-wrap{
            overflow-x: hidden;
            .heading{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .news-title{
                color: rgba(#1F1F1F, 0.5);
            }
            .share{                
                width: 20px;
             
            }
        }
        &-box{
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                margin-bottom: 10px;
            }  
        }
        &-boxinner{
            width: calc(100% / 2 - 15px);
            position: relative;
            margin-right: 15px;
            @media screen and (max-width: 640px) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
            }
            &:last-child{
                margin-right: 0;
            }
            img{
                width: 100%;
                
            }
            &:after{
                content: '';
                background-image: linear-gradient(to right, #ea14ec, #bf32eb, #913fe5, #6045db, #1246ce);
                position: absolute;
                bottom: 0;
                width: 90%;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 4px;
                border-radius: 0px 0px 5px 5px;
                @media screen and (max-width: 768px) {
                    bottom: 10px;
                }
            }
        }
        &-dtl{
            position: absolute;
            bottom: 14px;
            padding: 15px;
            @media screen and (max-width: 768px) {
                position: relative;
                color: $black;
                background-color: $gray;
            }
            .share{
                filter: brightness(0) invert(1);
                @media screen and (max-width: 768px) {
                    filter: brightness(1) invert(0);
                }
            }
            .news{
                &-heading{
                    @media screen and (max-width: 768px) {
                    color: rgba(31, 31, 31, 0.5);
                    }
                }
            }
        }
        &-card{
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
            } 
        }
        &-cardlist{
            width: calc(100% / 4 - 15px);
            position: relative;
            border-radius: 5px;
            @media screen and (max-width: 768px) {
                display: flex;
                width: 100%;
                margin-bottom: 20px;
            }
            &:after{
                content: '';
                background-image: linear-gradient(to right, #ea14ec, #bf32eb, #913fe5, #6045db, #1246ce);
                position: absolute;
                bottom: 0;
                width: 90%;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 4px;
                border-radius: 0px 0px 5px 5px;
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            figure{
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
                @media screen and (max-width: 768px) {
                    width: 40%;
                    order: 2;
                    &:after{
                        content: "";
                        background-image: linear-gradient(to right, #ea14ec, #bf32eb, #913fe5, #6045db, #1246ce);
                        position: absolute;
                        bottom: -3px;
                        width: 90%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        height: 4px;
                        border-radius: 0px 0px 5px 5px;
                    }
                }
            }

        }
        &-info{
            @media screen and (max-width: 768px) {
                width: 60%;
                order: 1;
                margin-right: 15px;
            }
        }
        &-heading{
            .title, .btn-seemore{
                @media screen and (max-width: 768px) {
                    width: 50%;
                }
            }
            .btn-seemore{
                @media screen and (max-width: 768px) {
                    text-align: right;
                }
            }
        }
    }
}

